body{
  margin: 0;
  padding: 0;
}

/*============section main==============*/

.main{
  display: flex;
  flex-direction: row-reverse;
}

.all{
  pointer-events: none;
}

.all:target{
  pointer-events: auto;
}

/*=============section produits============*/

.produits{
  width: 100%;
  background-color: #7d7d7d;
}

.produits h3{
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

#myChart{
  margin-bottom: 100px;
}

#sector{
  margin-bottom: 100px;
}

/*=============section mainBody=============*/

.mainBody{
  width: 200%
}

/*==============Header===========*/
.header{
    margin: auto;
    height: 250px;
    background-color: #002A4E;
}

.header .deco{
  border-radius: 0 10px 10px 0;
}

.header .profil{
  border-radius: 10px 0 0 10px;
}

.cadi{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  padding-top: 10px;
}

.head{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head label{
  float: right;
  color: white;
}

.header ul{
  padding: inherit;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header ul li{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 2px solid black;
  background-color: #F4F4F4;
}

.header ul li:hover{
  background-color:#002A4E;
  color: #fff;
}

.header ul li:hover a{
  color:white;
}

.header a{
  text-decoration: none;
  color:black;
}

.home{
  border-radius: 10px 0 0 10px;
}

.CONTACT{
  border-radius: 0 10px 10px 0;
}

.container a{
  text-decoration: none;
  color: black;
}
/*===============About=================*/

.about {
  margin: auto;
  border-bottom: 3px solid black;
  width: 90%;
}

.about h3{
  background-color: #FFD30D;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.about p{
  margin: auto;
  margin-bottom: 20px;
}

/*==============Sample=============*/

.sample{
  margin: auto;
  border-bottom: 3px solid black;
  width: 90%;
}

.sample h3{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFD30D;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.sample p{
  margin: auto;
  margin-bottom: 20px;
}


/*============slider=============*/

.sample #btn1{
  padding:10px;
  border-radius: 30px;
  background-color: lime;
  position: absolute;
  top: 45%;
  left: 0;
}

.sample #btnr{
  padding: 10px;
  border-radius: 30px;
  background-color: lime;
  position: absolute;
  top: 45%;
  right: 0;
}

.sample img{
  width: 958px;
  height: 578px;
}

.sample .wrapper{
  margin-bottom: 20px;
  margin-left: 100px;
  max-width: 1000px;
  position: relative;
}

/*=============Pamphlets==============*/

.pamphlets{
  margin: auto;
  padding-bottom: 200px;
  border-bottom: 3px solid black;
  width: 90%;
}

.pamphlets h3{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: #FFD30D;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.pamphlets img{
  display: flex;
  justify-content: center;
  margin: auto;
}

.pamphlets p{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

/*============Contact===============*/

.contact{
  margin: auto;
  padding-bottom: 300px;
  width: 90%;
}

.contact h3{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  background-color: #FFD30D;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}


/*===========nouveau membre==========*/

.nouveauMembre{
  width:500px;
  height: 200px;
  margin: auto;
  background-color: #002A4E;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: : center;
  top:0px;
  bottom:0px;
  right: 0px;
  left: 0px;
  opacity:0;
  pointer-events: none;
  z-index: 200;
}

.nouveauMembre:target{
  opacity:1;
  pointer-events: auto;
  transition: all 1s;
}

.nouveauMembre p{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  color: white;
}

.nouveauMembre button{
  width: 50px;
  margin: auto;
  border-radius: 5px;
}

.nouveauMembre .btn {
margin-left:220px;
margin-bottom: 20px;
}

/*===========footer============*/

footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #002A4E;
  color: #FFFFFF;
  padding-right: 10px;
  font-size: 10px;
}
