body{
  margin: 0;
  padding: 0;
}

/*============section main==============*/

.main{
  display: flex;
  flex-direction: row-reverse;
}

/*=============section produits============*/

.produits{
  width: 2500px;
  background-color: grey;
}

/*=============section mainBody=============*/

/*==============Header===========*/
.header{
    margin: auto;
    height: 300px;
    background-color: #002A4E;
    display: flex;
    flex-direction: column;
}

.logo{
  margin:auto;
}

ul{
  padding: inherit;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul li{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 2px solid black;
  background-color: #F4F4F4;
}

.home{
  border-radius: 10px 0 0 10px;
}

.CONTACT{
  border-radius: 0 10px 10px 0;
}

.container a{
  text-decoration: none;
  color: black;
}
/*===============About=================*/

.about {
  margin: auto;
  border-bottom: 3px solid black;
  width: 90%;
}

.about h3{
  background-color: #FFD30D;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.about p{
  margin: auto;
  margin-bottom: 20px;
}

/*==============Sample=============*/

.sample{
  margin: auto;
  border-bottom: 3px solid black;
  width: 90%;
}

.sample h3{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFD30D;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.sample p{
  margin: auto;
  margin-bottom: 20px;
}

.sample video{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}
/*=============Pamphlets==============*/

.pamphlets{
  margin: auto;
  border-bottom: 3px solid black;
  width: 90%;
}

.pamphlets h3{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFD30D;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.pamphlets img{
  display: flex;
  justify-content: center;
  margin: auto;
}

.pamphlets p{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

/*============Contact===============*/

.contact{
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 3px solid black;
  width: 90%;
}

.contact h3{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  background-color: #FFD30D;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

/*===========footer============*/

footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #002A4E;
  color: #FFFFFF;
  padding-right: 10px;
}
