body{
    margin:0;
    padding:0;
}

.main{
  margin: auto;
}

.main p{
  background-color: #FFD30D;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

/*==============Header===========*/
.header{
    margin: auto;
    height: 250px;
    background-color: #002A4E;
}

.cadi{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  padding-top: 10px;
}

.head{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head label{
  float: right;
  color: white;
}

.header ul{
  padding: inherit;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header ul li{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 2px solid black;
  background-color: #F4F4F4;
}

.header ul li:hover{
  background-color:#002A4E;
  color: #fff;
}

.header ul li:hover a{
  color:white;
}

.header a{
  text-decoration: none;
  color:black;
}

.home{
  border-radius: 10px 0 0 10px;
}

.CONTACT{
  border-radius: 0 10px 10px 0;
}

.container a{
  text-decoration: none;
  color: black;
}
