body{
  margin:0;
  padding:0;
}

.main{
  margin: auto;
}

.titre{
  height: 150px;
  background-color: #002A4E;
  display: flex;
  justify-content:center;
  align-items: center;
}

.titre img{
  border-radius: 10px;
}

.center_block{
  width: 30%;
  margin: auto;
  margin-top: 9%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.sign-in{
  width: 80%;
  margin: 10%;
  background-color: #002A4E;
  color: yellow;
  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 2em;
}

.sign-up{
  width: 80%;
  margin: 10%;
  background-color:#002A4E;
  color: yellow;
  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 2em;
}

.sign-in a{
  text-decoration: none;
  color:white;
}

.sign-up a{
  text-decoration: none;
  color: white;
}

.register{
  width:400px;
  height: 400px;
  margin: auto;
  background-color: #002A4E;
  position: absolute;
  top:0px;
  bottom:0px;
  right: 0px;
  left: 0px;
  opacity:0;
  pointer-events: none;
}

.register:target{
  opacity:1;
  pointer-events: auto;
  transition: all 1s;
}

.doc{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.doc p{
  color: white;
}

.doc #pseudo,
.doc #mail,
.doc #mdp{
  margin-left: 13%;
}

.doc .submit,
.doc #pseudo,
.doc #mail,
.doc #mdp,
.doc .compte{
  display: flex;
  justify-content: center;
}

.doc .compte{
  color: white;
  text-decoration: none;
  font-size: 10px;
}



.connexion{
  width:400px;
  height: 400px;
  margin: auto;
  background-color: #002A4E;
  position: absolute;
  top:0px;
  bottom:0px;
  right: 0px;
  left: 0px;
  opacity:0;
  pointer-events: none;
}

.connexion:target{
  opacity:1;
  pointer-events: auto;
  transition: all 1s;
}

.co{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.co h1{
  color: white;
}

.co p{
  color: white;
}

.co #pseudo,
.co #mdp{
  margin-left: 13%;
}

.co .submit,
.co #pseudo,
.co #mdp,
.co em{
  display: flex;
  justify-content: center;
}

.co em{
  color: white;
  text-decoration: none;
}

.co a{
  text-decoration: none;
  font-size: 10px;
}
