body{
  margin:0;
  padding:0;
}

.main{
  margin: auto;
}

.titre{
  height: 150px;
  background-color: #002A4E;
  display: flex;
  justify-content:center;
  align-items: center;
}

.center_block{
  width: 30%;
  margin: auto;
  margin-top: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.sign-in{
  width: 80%;
  margin: 10%;
  background-color: #002A4E;
  color: yellow;
  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 2em;
}

.sign-up{
  width: 80%;
  margin: 10%;
  background-color:#002A4E;
  color: yellow;
  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 2em;
}

.sign-in a{
  text-decoration: none;
  color:white;
}

.sign-up a{
  text-decoration: none;
  color: white;
}
