body{
    margin:0;
    padding:0;
}

.main{
  margin: auto;
}

.titre{
  height: 150px;
  background-color: #002A4E;
  display: flex;
  justify-content:center;
  align-items: center;
}

.center_block{
  background-color: #002A4E;
  width: 30%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 3px solid black;
  color: white;
  height: 295px;
  display: flex;
  flex-direction: column;
}

.center_block p{
  width: 80%;
  margin: auto;
  font-size: 20px;
}
