body{
  background-image: url(../images/moutons.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  padding:0;
}

.main{
  width: 60%;
  margin: auto;
  margin-top: 1%;
}

.titre{
  width: 90%;
  margin: auto;
  color: yellow;
  display: flex;
  flex-wrap:nowrap;
  justify-content:center;
}

.center_block{
  background-color: green;
  width: 50%;
  margin: auto;
  margin-top: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 3px solid black;
  border-radius: 10px;
}

h1{
  display: flex;
  justify-content: center;
}

form p{
  display: flex;
  justify-content: center;
}

.connexion {
  display: flex;
  justify-content: center;
}
