body{
  margin:0;
  padding:0;
}



.main{
  margin: auto;
}

.titre{
  height: 150px;
  background-color: #002A4E;
  display: flex;
  justify-content:center;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
}

.center_block{
  background-color: #002A4E;
  width: 30%;
  height: 295px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 3px solid black;
  color: white;
}

.center_block a{
  color:white;
}

h1{
  display: flex;
  justify-content: center;
}

form p{
  display: flex;
  justify-content: center;
}

.connexion {
  display: flex;
  justify-content: center;
}
